.search-container {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.table-responsive {
  margin-top: 20px;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th {
  cursor: pointer;
}

.table .sort-icon {
  float: right;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

.material-icons.text-info {
  color: #17a2b8;
}

.material-icons.text-danger {
  color: #dc3545;
}

.material-icons.text-warning {
  color: #ffc107;
}

.bg-success.text-white {
  padding: 5px;
  cursor: pointer;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary,
.btn-warning {
  border-radius: 5px;
}

.sort-icon {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;  
}

.sort-icon.asc::before {
  content: 'arrow_upward';
  transform: rotate(0deg);
}

.sort-icon.desc::before {
  content: 'arrow_downward';
  transform: rotate(180deg);
}

.sort-icon.active {
  color: #17a2b8;
}
