
<app-navbar></app-navbar>
<div class="container">

  <button class="btn btn-outline-primary mb-2 me-2" (click)="openXl(content)">Add Student</button>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Student</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-add-student></app-add-student>
    </div>
   
  </ng-template>
  
  <div class="container mt-4">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="search" placeholder="Search students">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Birth Date</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.birthDate | age }}</td>
          <td>{{ student.country }}</td>
          <button class="btn btn-info btn-sm" (click)="show(student.id)">Show</button>
          <button class="btn btn-danger btn-sm" (click)="delete(student.id)">Delete</button>
          <button class="btn btn-warning" (click)="openEditModal(student.id)">Edit Student</button>

        </tr>
      </tbody>
    </table>
  
    <ngb-pagination [collectionSize]="totalItems" [(page)]="pageIndex" [pageSize]="pageSize" (pageChange)="onPageChange($event)">
    </ngb-pagination>
    <div class="pagination-controls">
      <button class="btn btn-outline-secondary" (click)="goToFirstPage()">First Page</button>
      <button class="btn btn-outline-secondary" (click)="goToLastPage()">Last Page</button>
    </div>

    <div class="form-group">
      <label for="pageSize">Entries per page:</label>
      <select id="pageSize" class="form-control" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option *ngFor="let size of [10, 20, 30, 40, 50]" [value]="size">{{ size }}</option>
      </select>
    </div>
    <div>Total Items: {{ totalItems }}</div>
    <div>{{ getCurrentRange() }}</div>
    
  </div>
  
  </div>
  