.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}

.fa {
    margin-left: 5px;
  }
  
  .fa-arrow-up, .fa-arrow-down {
    cursor: pointer;
  }
  

  .material-icons {
    font-size: 18px; /* Adjust the size as needed */
    vertical-align: middle; /* Aligns icon with text */
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-right: 5px; /* Adds some space between icon and text */
  }
  