.search-container {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.table-responsive {
  margin-top: 20px;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th {
  cursor: pointer;
}

.table .sort-icon {
  float: right;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

.material-icons.text-info {
  color: #17a2b8;
}

.material-icons.text-danger {
  color: #dc3545;
}

.material-icons.text-warning {
  color: #ffc107;
}

.bg-success.text-white {
  padding: 5px;
  cursor: pointer;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary,
.btn-warning {
  border-radius: 5px;
}

.sort-icon {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;  
}

.sort-icon.asc::before {
  content: 'arrow_upward';
  transform: rotate(0deg);
}

.sort-icon.desc::before {
  content: 'arrow_downward';
  transform: rotate(180deg);
}

.sort-icon.active {
  color: #17a2b8;
}


.ng-select-custom {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.ng-select-custom .ng-placeholder {
  color: #999;
}

::ng-deep .ng-dropdown-panel .ng-option {
  background-color: #ffffff;
  color: #000;
  padding: 10px;
}

.custom-dropdown ::ng-deep .ng-select-container {
  position: relative;
}

.custom-dropdown ::ng-deep .ng-arrow-wrapper {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-dropdown ::ng-deep .ng-arrow-wrapper .ng-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


