<div class="container">

  <button class="btn btn-outline-primary mb-2 me-2" (click)="openXl(content)">Add Student</button>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Student</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-add-student></app-add-student>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

    <!-- edit -->
  </ng-template>
  <ng-template #editContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit Student</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-edit-student></app-edit-student>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
    <form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
            <th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
            <th scope="col" sortable="gender" (sort)="onSort($event)">Gender</th>
            <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
            <th scope="col" sortable="birthDate" (sort)="onSort($event)">Age</th>
            <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
            <th scope="col">Delete</th>
            <th scope="col">Show</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let student of students$ | async; trackBy: trackByStudentId">
              <td>{{student.firstName}}</td>
              <td>{{student.lastName}}</td>
              <td>{{student.gender}}</td>
              <td>{{student.email}}</td>
              <td>{{ student.birthDate | age }}</td>
              <td>{{student.country}}</td>
              <td>
                <button class="btn btn-danger" (click)="delete(student.id)">Delete</button>
              </td> 
              <td>
                <button class="btn btn-info" (click)="show(student.id)">Show</button>
              </td> 
              <td>
                <!-- editstudent -->
                <button class="btn btn-warning" (click)="openEditModal(student.id)">Edit Student</button>

               
              </td> 
            </tr>
          </ng-container>
          <ng-template #noData>
            <tr>
              <td colspan="6" style="text-align: center">No students found</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
  
      <div class="d-flex justify-content-between p-2">
        <div>Total Entries: {{ (total$ | async) }}</div>
        <div>Showing {{ (students$ | async)?.length }} of {{ (total$ | async) }} entries</div>
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"></ngb-pagination>
  
        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
        
      </div>
      
    </form>
  </div>
  