<section class="pt-3 pb-3">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <app-header></app-header>
          <div class="card" style="border-radius: 15px">
            <div class="card-body">
              <h2 class="text-uppercase text-center mb-4">Register</h2>

              <!-- Error Alert -->
              <div *ngIf="errorMessage" class="alert alert-danger mb-3">
                {{ errorMessage }}
              </div>

              <!-- Registration Form -->
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <!-- Full Name -->
                <div data-mdb-input-init class="form-outline mb-3">
                  <label class="form-label" for="fullName">Full Name</label>
                  <input
                    type="text"
                    id="fullName"
                    formControlName="fullName"
                    class="form-control form-control-lg"
                  />
                  <div
                    *ngIf="
                      registerForm.get('fullName')?.errors &&
                      registerForm.get('fullName')?.touched
                    "
                    class="text-danger"
                  >
                    <span
                      *ngIf="registerForm.get('fullName')?.getError('required')"
                      >Field is required</span
                    >
                    <span
                      *ngIf="
                        registerForm.get('fullName')?.getError('minlength')
                      "
                      >Min length is 3</span
                    >
                  </div>
                </div>

                <!-- Email -->
                <div data-mdb-input-init class="form-outline mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control form-control-lg"
                  />
                  <div
                    *ngIf="
                      registerForm.get('email')?.errors &&
                      registerForm.get('email')?.touched
                    "
                    class="text-danger"
                  >
                    <span
                      *ngIf="registerForm.get('email')?.getError('required')"
                      >Email is required</span
                    >
                    <span *ngIf="registerForm.get('email')?.getError('email')"
                      >Invalid email format</span
                    >
                  </div>
                </div>

                <!-- Password -->
                <div data-mdb-input-init class="form-outline mb-3">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control form-control-lg"
                  />
                  <div
                    *ngIf="
                      registerForm.get('password')?.errors &&
                      registerForm.get('password')?.touched
                    "
                    class="text-danger"
                  >
                    <span
                      *ngIf="registerForm.get('password')?.getError('required')"
                      >Password is required</span
                    >
                    <span
                      *ngIf="
                        registerForm.get('password')?.getError('minlength')
                      "
                      >Min length is 8</span
                    >
                  </div>

                  <!-- Password Strength Indicator -->
                  <div
                    *ngIf="registerForm.get('password')?.value"
                    class="alert"
                  >
                    <div *ngIf="passwordStrength" class="alert">
                      <p>Password Strength: {{ passwordStrength }}</p>
                      <ul>
                        <li [class.text-success]="criteria.length">
                          At least 8 characters
                        </li>
                        <li [class.text-success]="criteria.number">1 number</li>
                        <li [class.text-success]="criteria.uppercase">
                          1 uppercase letter
                        </li>
                        <li [class.text-success]="criteria.lowercase">
                          1 lowercase letter
                        </li>
                        <li [class.text-success]="criteria.symbol">1 symbol</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Confirm Password -->
                <div data-mdb-input-init class="form-outline mb-3">
                  <label class="form-label" for="confirmPassword"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    class="form-control form-control-lg"
                  />
                  <div
                    *ngIf="
                      registerForm.get('confirmPassword')?.errors &&
                      registerForm.get('confirmPassword')?.touched
                    "
                    class="text-danger"
                  >
                    <span
                      *ngIf="
                        registerForm
                          .get('confirmPassword')
                          ?.getError('required')
                      "
                      >Confirm Password is required</span
                    >
                    <span
                      *ngIf="
                        registerForm
                          .get('confirmPassword')
                          ?.getError('minlength')
                      "
                      >Min length is 8</span
                    >
                  </div>
                </div>

                <!-- Register Button -->
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-primary text-white btn-block btn-lg gradient-custom-4"
                  >
                    Register
                  </button>
                </div>

                <!-- Login Link -->
                <p class="text-center text-muted mt-1 mb-0">
                  Already have an account?
                  <a routerLink="/login" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
